h1.simple {
  font-size: 0.9em;
  padding: 4px;
  background: #333333;
  color: #AAAAAA;
  border-bottom: 2px solid #AAAAAA;
  margin: 0 0 4px 0;
}

h1.fancy {
  background: 
    -webkit-gradiente(linear, left top, left bottom, color-stop(0.0, #666666), color-stop(0.5, #3A3A3A), color-stop(0.5, #222222), color-stop(1.0, #000000));
    -webkit-box-shadow: 0 2px 1px #AAAAAA;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    font-size: 1.1em;
    color: white;
    padding: 10px 8px;
    margin: 0 6px 6px 6px;
    text-align: center;
}
  
